{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Notes Friends</title>
    </head>
    <link rel="stylesheet" href="{% static 'index.css' %}">
    <body>
        <table>
            <tr>
                <th>To</th>
                <th>From</th>
                <th>Title</th>
                <th>Message</th>
            </tr>
            {% for note in notes %}
            <tr>
                <td>{{ note.to_note }}</td>
                <td>{{ note.from_note }}</td>
                <td>{{ note.title_note }}</td>
                <td>{{ note.message_note }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>